html {
    overflow-y: scroll;
}

body {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Helvetica, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimSun, sans-serif;
    margin: 0;
    padding: 0;
    border: 0;
}

a {
    color: #454545;
    text-decoration: none;
    font-size: 12px;
}

a:hover {
    background-color: #d5d5d5;
    border-radius: 2px;
}

.head {
    width: 100%;
    height: 55px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: white;
}

.head-layout{
    width: 1200px;
    height: 55px;
    display: flex;
    flex-direction: row;
}

.logo {
    width: 115px;
    height: 32px;
    align-self: center;
}

.logo:hover{
    cursor: pointer;
}

.tab {
    flex-grow: 1;
    height: 55px;
    padding-left: 106px;
    display: flex;
    flex-direction: row;
    align-items: flex-end;
}

.tab-item {
    width: 90px;
    height: 46px;
    margin-right: 30px;
}

.tab-item2 {
    width: 90px;
    height: 46px;
    background-image: url("../img/tab-item-normal.png");
    color: white;
    text-align: center;
    line-height: 46px;
    margin-right: 30px;
    font-size: 14px;
}

.tab-item2 a {
    display: block;
    width: 100%;
    height: 100%;
    font-size: 14px;
    text-align: center;
    line-height: 46px;
}

.tab-item a {
    display: block;
    width: 100%;
    height: 100%;
    font-size: 14px;
    text-align: center;
    line-height: 46px;
}

.tab-item a:hover{
    background-image: url("../img/tab-item-hover.png");
}

.bg-line {
    width: 100%;
    height: 58px;
    background-color: #2f3448;
}

.container {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #f6f6f6;
}

.container-layout{
    width: 1200px;
    height: auto;
    flex-direction: column;
    background-color:white;
    margin-top: 20px;
    margin-bottom: 20px;
    padding-bottom: 30px;
    border-radius: 8px;
    border:1px solid #dcdcdc;
}

.title-row {
    width: 1200px;
    height: 30px;
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-top: 40px;
    margin-left: 50px;
}


.title-row span {
    font-size: 22px;
    font-weight: bold;
    color: #2f3448;
    margin-left: 20px;
}

.content {
    color: #454545;
    font-size: 14px;
    margin-left: 75px;
    margin-right: 75px;
    letter-spacing: 1px;
    line-height:30px;
}

.classify-descRow{
    width: 1200px;
    height: wrap;
    display: flex;
    flex-direction: row;
    margin-left: 32px;
    margin-right: 32px;
}

.classify-titleItem {
    width: 160px;
    height: 30px;
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-top: 20px;
    margin-bottom: 20px;
}
.classify-titleItem div {
    width: 4px;
    height: 15px;
    background-color: #2f3448;
    border-radius: 5px;
}
.classify-titleItem span {
    font-size: 16px;
    font-weight: bold;
    color: #2f3448;
    margin-left: 9px;
}

.classify-descItem {
    width: 208px;
    height: 80px;
    border: 1px solid #dcdcdc;
    border-radius: 5px;
    background-color: white;
    display: flex;
    flex-direction: column;
}

.classify-descItem a{
    margin-top: 2px;
    background-color: white;
    cursor: pointer;
}

.classify-descItem-top {
    width: 100%;
    height: 45px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.classify-descItem-top span{
    font-size: 18px; 
    color: #2f3448;
}

.classify-descItemLine {
    width: 188px;
    margin-left: 10px;
    margin-right: 10px;
    height:0px;
    border-top:1px #dcdcdc solid;
    background-color: '#dcdcdc';
}
.item-desc{
    font-size: 14px;
    color: #5d5d5d;
    margin-left: 10px;
    margin-right: 10px;
    margin-top: 7px;
}
.classify-descItem-space{
    width: 22px;
    height: 1px;
}
.classify-descRow-space{
    widows: 100%;
    height: 23px;
}
.classify-descRow-line {
    width:1126px;
    height:0px;
    border-top:1px #dcdcdc dashed;
    margin-top: 30px;
    margin-bottom: 2px;
    margin-left: 37px;
    margin-right: 37px;
}

.tip{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.footer {
    width: 100%;
    height: 36px;
    background-color: #2f3448;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.footer-layout{
    width: 1200px;
    height: 36px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.footer span {
    color: white;
    font-size: 12px;
    margin-left: 10px;
    margin-right: 10px;
}

.footer a {
    color: white;
    padding: 5px;
}

.footer a:hover{
    color: #2f3448;
}
