html {
    overflow-y: scroll;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    background: white;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Helvetica, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimSun, sans-serif;
    color: #666;
    margin: 0;
    padding: 0;
    border: 0;
}
a {
    color: #3c4150;
    text-decoration: none;
}
a:hover {
    color: white;
    background-color: #3c4150;
}
.head {
    width: 100%;
    height: 50px;
    background: #3c4150;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}
.title {
    width: 90%;
    max-width: 1280px;
}
.title span {
    color: white;
    font-size: 18px;
    margin-left: 20px;
}
.container {
    width: 90%;
    max-width: 1280px;
    height: auto;
    background-color: white;
    display: flex;
    flex-direction: column;
    padding-bottom: 50px;
}

.search-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 100px;
    margin-bottom: 100px;
}

.search-layout {
    display: flex;
    flex-direction: column;
    width: 60%;
    max-width: 620px;
}

.search-tab {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    -webkit-tap-highlight-color: transparent;
}

.search-tab span {
    font-size: 19px;
    border-bottom: 2px solid transparent;
    color: #cacaca;
    cursor: pointer;
    height: 30px;
    padding: 0 12px;
}

.search-tab span:hover {
    border-bottom: 2px solid #3c4150 !important;
    color: #3c4150 !important;
}

#baidu {
    border-bottom: 2px solid #3c4150;
    color: #3c4150;
}

input {
    outline-style: none;
    border: 0px;
    border-radius:0; 
    -webkit-appearance: none;
    -webkit-border-radius:0px;
    opacity: 1;
    vertical-align: middle;
}

input::-webkit-input-placeholder {
    /* WebKit browsers */
    color: #a5a5a5;
}

input:-moz-placeholder {
    /* Mozilla Firefox 4 to 18 */
    color: #a5a5a5;
}

input::-moz-placeholder {
    /* Mozilla Firefox 19+ */
    color: #a5a5a5;
}

input:-ms-input-placeholder {
    /* Internet Explorer 10+ */
    color: #a5a5a5;
}

.search-box {
    border: 1px solid #a5a5a5;
    margin-top: 8px;
    width: 100%;
    font-size: 0
}

.search-form input[type=search] {
    width: 80%;
    overflow: hidden;
    height: 35px;
    font-size: 16px;
    padding-left: 8px;
    padding-right: 8px;
}

.submit {
    background: #3c4150;
    width: 20%;
    height: 35px;
    color: white;
    font-size: 16px;
}

.submit:hover {
    cursor: pointer;
}

.line {
    width: 100%;
    height: 1px;
    background: #a5a5a5;
}

.works {
    width: 100%;
    height: auto;
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 15px;
    overflow: hidden;
}

.works-list {
    width: 100%;
}

.works-list ul {
    width: 100%;
    line-height: 32px;
    list-style: none;
}

.works-list li {
    width: 12.5%;
    display: inline-block;
    overflow: hidden;
    font-size: 16px;
    text-align: center;
}

.works-list a {
    width: 100%;
    height: 100%;
    color: #a5a5a5;
    display: block;
}

.works-list a:hover {
    color: white;
    background-color: #3c4150;
    cursor: pointer;
}

.works-list li:first-child {
    color: #3c4150;
    background-color: white;
    cursor: default;
}

.footer {
    width: 100%;
    height: 50px;
    background-color: #3c4150;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.footer span {
    color: white;
    font-size: 13px;
    margin-left: 10px;
    margin-right: 10px;
}

.footer a {
    color: white;
}

@media screen and (max-width:1600px) {
    .title {
        width: 80%;
    }
    .container {
        width: 80%;
        height: auto;
        background-color: white;
        display: flex;
        flex-direction: column;
    }
    .search-container {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-top: 100px;
        margin-bottom: 100px;
    }
    .search-layout {
        display: flex;
        flex-direction: column;
        width: 60%;
        max-width: 620px;
    }
}

@media screen and (max-width:1024px) {
    .container {
        width: 100%;
        height: auto;
        background-color: white;
        display: flex;
        flex-direction: column;
    }
    .search-layout {
        display: flex;
        flex-direction: column;
        width: 80%;
    }
}

@media screen and (max-width:768px) {
    .container {
        width: 100%;
        height: auto;
        background-color: white;
        display: flex;
        flex-direction: column;
    }
    .search-container {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-top: 40px;
        margin-bottom: 40px;
    }
    .search-layout {
        display: flex;
        flex-direction: column;
        width: 80%;
    }
    .search-tab span {
        font-size: 16px;
        border-bottom: 2px solid transparent;
        color: #cacaca;
        cursor: pointer;
        height: 30px;
        padding: 0 5px;
    }
    .works {
        width: 100%;
        height: auto;
        background-color: white;
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-top: 15px;
    }
    .works-list {
        width: 100%;
        height: auto;
        margin-left: 0px;
    }
    .works-list li {
        width: 90px;
        /*每个元素的初始化宽度*/
        text-align: center;
        flex: auto;
    }
    .works-list a {
        width: 100%;
        height: 100%;
        color: #a5a5a5;
        display: block;
        font-size: 14px;
    }
    .works-list li:first-child {
        color: #3c4150;
        background-color: white;
        cursor: default;
        font-size: 14px;
    }
    ul {
        padding-inline-start: 5px;
        padding-inline-end: 5px;
    }
}

@media screen and (max-width:480px) {
    .title {
        width: 100%;
        max-width: 1024px;
    }
    .title span {
        color: white;
        font-size: 16px;
        margin-left: 20px;
    }
    .search-container {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-top: 20px;
        margin-bottom: 20px;
    }
    .line {
        width: 100%;
        height: 1px;
        background: #a5a5a5;
    }
    .search-tab span {
        font-size: 16px;
        border-bottom: 2px solid transparent;
        color: #cacaca;
        cursor: pointer;
        height: 30px;
        padding: 0 5px;
    }
    .search-layout {
        display: flex;
        flex-direction: column;
        width: 90%;
    }
    .search-box {
        margin-top: 8px;
        width: 100%;
        font-size: 0;
    }
    .search-form input[type=search] {
        width: 80%;
        overflow: hidden;
        height: 35px;
        font-size: 16px;
        padding-left: 8px;
        padding-right: 8px;
    }
    .submit {
        background: #3c4150;
        width: 20%;
        height: 35px;
        color: white;
        font-size: 16px;
    }
    .line {
        width: 100%;
        height: 1px;
        background: #ededed;
    }
    .works {
        width: 100%;
        height: auto;
        background-color: white;
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-top: 15px;
    }
    .works-list {
        width: 100%;
        height: auto;
        margin-left: 0px;
    }
    .works-list li {
        width: 90px;
        /*每个元素的初始化宽度*/
        text-align: center;
        flex: auto;
    }
    .works-list a {
        width: 100%;
        height: 100%;
        color: #a5a5a5;
        display: block;
        font-size: 14px;
    }
    .works-list li:first-child {
        color: #3c4150;
        background-color: white;
        cursor: default;
        font-size: 14px;
    }
    ul {
        padding-inline-start: 5px;
        padding-inline-end: 5px;
    }
    ul:-webkit-padding-start {
        padding-inline-start: 5px;
        padding-inline-end: 5px;
    }
}